.project-card {
	.panel {
		overflow: hidden;
	}
	a {
		color: inherit;
		text-decoration: none;
	}
	.widget-top {
		height: 100px;
		background: #ececec;
		color: #444;
		text-align: center;
		position: relative;
		a { 
			display: block; 
			height: inherit;
		}
		.title-wrap {
			display: table;
			width: 100%;
			height: inherit;
			.title {
				display: table-cell;
				width: 100%;
				vertical-align: middle;
				height: inherit;
				font-size: 18px;
			}
		}
	}
	.status-bar {
		padding: 10px;
		text-align: center;
		color: white;
		background: #ccc;
		font-size: 12px;
		font-weight: bold;
		text-transform: uppercase;
		&.blue { background: #b81d1d; }
		&.teal { background: #1ebfae; }
		&.orange { background: #ffb53e; }
		&.red { background: #f9243f; }	
	}
	.description {
		padding: 10px;
		// position: relative;
		// .deadline {
		// 	width: 20px;
		// 	height: 20px;
		// 	background: #ccc;
		// 	border-radius: 5px;
		// 	overflow: hidden;
		// 	font-size: 12px;
		// 	font-weight: normal;
		// 	color: white;
		// 	text-align: center;
		// 	i {
		// 		line-height: 19px;
		// 	}
		// 	&.green { background: #2ecc71; }
		// 	&.yellow { background: #f1c40f; }
		// 	&.red { background: #c0392b; }
		// 	&.black { background: black; }
		// }		
	}
}