body.page-login {
  padding-top: 0;
  background-image: url(../img/bg-login.jpg);
  background-size: cover;
  overflow: hidden;
  .login-wrap {
    display: table;
    width: 100%;
    height: 100vh;
    vertical-align: middle;
  }
  .login-container {
    display: table-cell;
    vertical-align: middle;
    padding: 50px 20px;
    .login-panel {
      max-width: 600px;
      margin: 0 auto;
      .panel-heading {
        font-weight: bold;
        text-transform: uppercase;
        text-align: center;
        font-size: 26px;
        color: #b81d1d;
      }
    }
  }
}