body {
  font-family: "Open Sans", sans-serif;
  padding-top: 40px; }

.navbar.navbar-inverse.navbar-fixed-top .navbar-brand {
  color: #b81d1d; }
  .navbar.navbar-inverse.navbar-fixed-top .navbar-brand span {
    color: white; }

.tab-content {
  background: white;
  border-top: 1px solid #ccc; }

.table-responsive {
  min-height: .01%;
  overflow-x: auto; }

.panel-heading small {
  color: inherit; }

body.page-login {
  padding-top: 0;
  background-image: url(../img/bg-login.jpg);
  background-size: cover;
  overflow: hidden; }
  body.page-login .login-wrap {
    display: table;
    width: 100%;
    height: 100vh;
    vertical-align: middle; }
  body.page-login .login-container {
    display: table-cell;
    vertical-align: middle;
    padding: 50px 20px; }
    body.page-login .login-container .login-panel {
      max-width: 600px;
      margin: 0 auto; }
      body.page-login .login-container .login-panel .panel-heading {
        font-weight: bold;
        text-transform: uppercase;
        text-align: center;
        font-size: 26px;
        color: #b81d1d; }

/*# sourceMappingURL=app.css.map */
