body {
	font-family: "Open Sans", sans-serif;
  // background: #290c0c;
  padding-top: 40px;
}
.navbar.navbar-inverse.navbar-fixed-top {
	.navbar-brand {
		color: #b81d1d;
		span { color: white; }
	}
}

.tab-content {
  background: white;
  border-top: 1px solid #ccc;
}

.table-responsive {
  min-height: .01%;
  overflow-x: auto;
}

.panel-heading small { color: inherit; }